<% if flash[:error] %>
Not found.
<% else %>
<div class="page-header">
  <h1><%= @friend.full_name %></h1>
</div>

<p>
  Do you really want to friend <%= @friend.full_name %>?
</p>

<% end %>
